PORT=your_backend_port || 8000
MONGO_URI=
GOGGLE_GEMINI_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
FRONTEND_URL=http://localhost:3000

REDIS_HOST=localhost
REDIS_PORT=6379
